<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Ministry of Health Transformation</title>
  </head>
  <body>


		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		  <a class="navbar-brand" href="#">Healthcare Transformation</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
			        <a class="nav-link" href="#">About MOHT</a>
		      </li>
					<li class="nav-item">
							<a class="nav-link" href="#">Corporate Blog</a>
					</li>
		      <!-- <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Dropdown
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Action</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>
		      </li> -->
		      <li class="nav-item">
		        <a class="nav-link disabled" href="#">Patient Activation</a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
		<div class="jumbotron">
		  <h1 class="display-4">Welcome to MOHT!</h1>
		  <p class="lead">The Office for Healthcare Transformation will work with multiple stakeholders
				in the healthcare area, including the government, industry and community partners to identify
				and test-bed potentially game-changing, future-oriented concepts and care models.
				The objective is to promote the good health and well-being of Singaporeans, and enhance the delivery of care to
				patients to ensure it is cost effective and sustainable. It will focus on longer-term issues and
				take a broader perspective in identifying system-wide changes that have the potential to be adopted
				and scaled up across the public healthcare system.


</p>
		  <hr class="my-4">
		  <p>The new Office for Healthcare Transformation will focus on a number of critical areas.

			For example, it will look at new ways to help Singaporeans adopt health-promoting behaviours that will prevent or delay the onset of chronic conditions. The Office will also work with primary care providers to make home-based management a viable and effective care model, and in the longer term, the preferred choice, for patients with chronic diseases like diabetes, hypertension and high blood cholesterol.

			Another focus area would be patients with multiple medical conditions. When such patients are hospitalised for treatment, they are often looked after by several specialists, which could result in fragmentation of care. The new Office will work with hospitals to explore new approaches to provide them more holistic inpatient care.
</p>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		  </p>
		</div>


    <footer class="footer">
				<div class="row">
				  <div class="col">
						<ul style=" list-style-type: none;">
						<b>ABOUT MOHT</b>
					  <li>Role of MOHT</li>
						<li>MOHT's Journey</li>
						<li>MOHT's Team</li>
					  <li>Corporate Publications</li>
						<li>Facts and Figures</li>
						<li>Join Us</li>
						</ul>
					</div>
				  <div class="col">
						<ul style=" list-style-type: none;">
							<b>DIGITAL HEALTH TRANSFORMATION</b>
						  <li>Leading Digital Transformation</li>
						  <li>Milestones & Awards</li>
						  <li>Product & Services</li>
						</ul>
					</div>
				  <div class="col">
						<ul style=" list-style-type: none;">
							<b>PROGRAMMES & PARTNERSHIPS</b>
							<li>For Hospitals</li>
						</ul>
					</div>
					<div class="col"><b>TECH NEWS</b></div>
					<div class="col">
						<ul style=" list-style-type: none;">
							<b>MEDIA ROOM</b>
							<li>Events</li>
							<li>Media Releases</li>
							<li>Speeches</li>
						</ul>
					</div>
			</div>
      <div class="container">
        <span class="text-muted">Copyright © 2018 MOH OFFICE FOR HEALTHCARE TRANSFORMATION PTE. LTD.</span>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
